In [2]:
import pandas as pd
data = pd.read_csv(r"mysmartprice.csv")

#https://www.kaggle.com/ramjasmaurya/5g-smartphones-available-in-india

In [3]:
data
#printed data

,product name,processor price,camera specs rear,camera specs front,display size,ram of phone,storage,battery,android version,score by smartprice,first site,price in first site,second site,price in second site,Price of product(available)
0,Vivo V23 5G,MediaTek Dimensity 920 MT6877T Processor,64 + 8 + 2 MP Triple Rear Camera,50+8 MP Dual Front Camera,6.44 inches AMOLED Display,8 GB RAM,128 GB Storage,4200 mAh Battery,Android v12 OS,NaN,NaN,NaN,NaN,NaN,"29,990"
1,Vivo V23 Pro 5G,MediaTek Dimensity 1200 MT6893 Processor,108 + 8 + 2 MP Triple Rear Camera,50+8 MP Dual Front Camera,6.56 inches AMOLED Display,8 GB RAM,128 GB Storage,4300 mAh Battery,Android v12 OS,NaN,NaN,NaN,NaN,NaN,"38,990"
2,OnePlus Nord 2,MediaTek Dimensity 1200 MT6893 Processor,50 + 8 + 2 MP Triple Rear Camera,32 MP Front Camera,6.43 inches Fluid AMOLED Display,6 GB RAM,128 GB Storage,4500 mAh Battery,Android v11 OS,8.0,NaN,NaN,NaN,NaN,"27,999"
3,Xiaomi Redmi Note 11T 5G,MediaTek Dimensity 810 MT6833 Processor,50 + 8 MP Dual Rear Camera,16 MP Front Camera,6.6 inches IPS LCD Display,6 GB RAM,64 GB Storage,5000 mAh Battery,Android v11 OS,7.8,Amazon,"16,999",Flipkart,"18,885","16,999"
4,Xiaomi 11i HyperCharge,MediaTek Dimensity 920 MT6877T Processor,108 + 8 + 2 MP Triple Rear Camera,16 MP Front Camera,6.67 inches AMOLED Display,6 GB RAM,128 GB Storage,4500 mAh Battery,Android v11 OS,NaN,NaN,NaN,NaN,NaN,"26,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Realme 8 5G 64GB,MediaTek Dimensity 700 MT6833 Processor,48 + 2 + 2 MP Triple Rear Camera,16 MP Front Camera,6.5 inches IPS LCD Display,4 GB RAM,64 GB Storage,5000 mAh Battery,Android v11 OS,7.7,NaN,NaN,Flipkart,"15,499","15,499"
179,Xiaomi Mi 10T 8GB RAM,Qualcomm Snapdragon 865 Processor,64 + 13 + 5 MP Triple Rear Camera,20 MP Front Camera,6.67 inches IPS LCD Display,8 GB RAM,128 GB Storage,5000 mAh Battery,Android v10 (Q) OS,8.1,Amazon,"31,990",Flipkart,"29,999","29,999"
180,Huawei P40 Pro,HiSilicon Kirin 990 5G Processor,50 + 40 + 12 MP Triple Rear Camera,32 MP Front Camera,6.58 inches OLED Display,8 GB RAM,256 GB Storage,4200 mAh Battery,Android v10 (Q) OS,NaN,NaN,NaN,NaN,NaN,"68,990"
181,IQOO 7 256GB,Qualcomm Snapdragon 870 Processor,48 + 13 + 2 MP Triple Rear Camera,16 MP Front Camera,6.62 inches AMOLED Display,8 GB RAM,256 GB Storage,4400 mAh Battery,Android v11 OS,8.3,NaN,NaN,Amazon,"32,990","32,990"
182,Samsung Galaxy Fold 2,Qualcomm Snapdragon 865 Plus Processor,12 + 12 + 12 MP Triple Rear Camera,10+10 MP Dual Front Camera,7.6 inches Dynamic AMOLED Display,12 GB RAM,256 GB Storage,4500 mAh Battery,Android v10 (Q) OS,NaN,Flipkart,"1,49,999",Amazon,"1,23,290","1,23,290"

In [4]:
df = pd.DataFrame(data)
#assigned dataframe to variable df.

In [5]:
df.isnull()
#checked if any field in dataset is empty

,product name,processor price,camera specs rear,camera specs front,display size,ram of phone,storage,battery,android version,score by smartprice,first site,price in first site,second site,price in second site,Price of product(available)
0,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False
1,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False
179,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
180,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False
181,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False
182,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [6]:
df.isnull().sum()

product name                    0
processor price                 0
camera specs rear               0
camera specs front              0
display size                    0
ram of phone                    0
storage                         0
battery                         0
android version                 0
score by smartprice            29
first site                     56
price in first site            56
second site                    92
price in second site           92
Price of product(available)     0
dtype: int64

In [7]:
df.describe()

       score by smartprice
count           154.000000
mean              7.973377
std               0.354069
min               7.000000
25%               7.800000
50%               8.000000
75%               8.200000
max               8.800000

In [8]:
df.shape
#dimensions of dataset.

(183, 15)

In [9]:
df.dtypes

product name                    object
processor price                 object
camera specs rear               object
camera specs front              object
display size                    object
ram of phone                    object
storage                         object
battery                         object
android version                 object
score by smartprice            float64
first site                      object
price in first site             object
second site                     object
price in second site            object
Price of product(available)     object
dtype: object

In [18]:
df["Price of product(available)"]= df["Price of product(available)"].str.replace(',' , '').astype(float)

In [19]:
df["price in first site"]= df["price in first site"].str.replace(',' , '').astype(float)
df["price in second site"]= df["price in second site"].str.replace(',' , '').astype(float)
df.dtypes

product name                    object
processor price                 object
camera specs rear               object
camera specs front              object
display size                    object
ram of phone                    object
storage                         object
battery                         object
android version                 object
score by smartprice            float64
first site                     float64
price in first site            float64
second site                     object
price in second site           float64
Price of product(available)    float64
dtype: object

In [20]:
# convert categorical values to numeric
df['first site'].replace(['Amazon', 'Flipkart','Tatacliq'], [0, 1,2], inplace=True)
df['second site'].replace(['Amazon', 'Flipkart','Tatacliq'], [0, 1,2], inplace=True)
df.head(10)

,product name,processor price,camera specs rear,camera specs front,display size,ram of phone,storage,battery,android version,score by smartprice,first site,price in first site,second site,price in second site,Price of product(available)
0,Vivo V23 5G,MediaTek Dimensity 920 MT6877T Processor,64 + 8 + 2 MP Triple Rear Camera,50+8 MP Dual Front Camera,6.44 inches AMOLED Display,8 GB RAM,128 GB Storage,4200 mAh Battery,Android v12 OS,NaN,NaN,NaN,NaN,NaN,29990.0
1,Vivo V23 Pro 5G,MediaTek Dimensity 1200 MT6893 Processor,108 + 8 + 2 MP Triple Rear Camera,50+8 MP Dual Front Camera,6.56 inches AMOLED Display,8 GB RAM,128 GB Storage,4300 mAh Battery,Android v12 OS,NaN,NaN,NaN,NaN,NaN,38990.0
2,OnePlus Nord 2,MediaTek Dimensity 1200 MT6893 Processor,50 + 8 + 2 MP Triple Rear Camera,32 MP Front Camera,6.43 inches Fluid AMOLED Display,6 GB RAM,128 GB Storage,4500 mAh Battery,Android v11 OS,8.0,NaN,NaN,NaN,NaN,27999.0
3,Xiaomi Redmi Note 11T 5G,MediaTek Dimensity 810 MT6833 Processor,50 + 8 MP Dual Rear Camera,16 MP Front Camera,6.6 inches IPS LCD Display,6 GB RAM,64 GB Storage,5000 mAh Battery,Android v11 OS,7.8,0.0,16999.0,1.0,18885.0,16999.0
4,Xiaomi 11i HyperCharge,MediaTek Dimensity 920 MT6877T Processor,108 + 8 + 2 MP Triple Rear Camera,16 MP Front Camera,6.67 inches AMOLED Display,6 GB RAM,128 GB Storage,4500 mAh Battery,Android v11 OS,NaN,NaN,NaN,NaN,NaN,26999.0
5,OPPO Reno 6,MediaTek Dimensity 900 MT6877 Processor,64 + 8 + 2 MP Triple Rear Camera,32 MP Front Camera,6.43 inches AMOLED Display,8 GB RAM,128 GB Storage,4300 mAh Battery,Android v11 OS,7.5,0.0,29390.0,1.0,29990.0,29390.0
6,Realme GT Master Edition 5G,Qualcomm Snapdragon 778G Processor,64 + 8 + 2 MP Triple Rear Camera,32 MP Front Camera,6.43 inches Super AMOLED Display,6 GB RAM,128 GB Storage,4300 mAh Battery,Android v11 OS,8.0,0.0,24999.0,1.0,25999.0,24999.0
7,Realme 8s 5G,MediaTek Dimensity 810 Processor,64 + 2 + 2 MP Triple Rear Camera,16 MP Front Camera,6.5 inches IPS LCD Display,6 GB RAM,128 GB Storage,5000 mAh Battery,Android v11 OS,7.3,2.0,17999.0,NaN,NaN,17999.0
8,OnePlus 9R,Qualcomm Snapdragon 870 Processor,48 + 16 + 5 + 2 MP Quad Rear Camera,16 MP Front Camera,6.55 inches Fluid AMOLED Display,8 GB RAM,128 GB Storage,4500 mAh Battery,Android v11 OS,8.3,0.0,39999.0,NaN,NaN,39999.0
9,Xiaomi Mi 11X,Qualcomm Snapdragon 870 Processor,48 + 8 + 5 MP Triple Rear Camera,20 MP Front Camera,6.67 inches AMOLED Display,6 GB RAM,128 GB Storage,4520 mAh Battery,Android v11 OS,8.0,1.0,25830.0,0.0,27999.0,25830.0

In [21]:
df.dtypes

product name                    object
processor price                 object
camera specs rear               object
camera specs front              object
display size                    object
ram of phone                    object
storage                         object
battery                         object
android version                 object
score by smartprice            float64
first site                     float64
price in first site            float64
second site                    float64
price in second site           float64
Price of product(available)    float64
dtype: object

In [22]:
df.describe()

,score by smartprice,first site,price in first site,second site,price in second site,Price of product(available)
count,154.000000,127.000000,127.000000,91.000000,91.000000,183.000000
mean,7.973377,0.535433,48461.740157,0.538462,46974.593407,47573.426230
std,0.354069,0.546203,36472.799612,0.522976,38835.656526,34774.547248
min,7.000000,0.000000,13999.000000,0.000000,15387.000000,13999.000000
25%,7.800000,0.000000,23990.000000,0.000000,22999.000000,24999.000000
50%,8.000000,1.000000,33990.000000,1.000000,32490.000000,34990.000000
75%,8.200000,1.000000,59250.000000,1.000000,53445.000000,54999.000000
max,8.800000,2.000000,169900.000000,2.000000,179900.000000,179900.000000